# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
统计学与概率论/2013-2017题目及答案/2013春及答案.pdf
统计学与概率论/2013-2017题目及答案/2014春及答案.pdf
统计学与概率论/《概率论与数理统计》浙大版（第四版）教材.pdf
统计学与概率论/《概率论与数理统计习题全解指南》.浙大版（第四版）.pdf
统计学与概率论/数理统计与数据分析原书第3版.pdf
统计学与概率论/数理统计的基本概念.pdf
操作系统/计算机操作系统  第4版 _PDF电子书下载 高清 带索引书签目录.pdf
操作系统/计算机操作系统（第4版）汤小丹、汤子瀛（超清完整版）_wrapper.pdf
操作系统/计算机系统概论中文版 .pdf
*.pdf
