*{
	margin: 0;
	padding: 0;
}
a ,a:hover{
    text-decoration: none;
    color: #fff;
}
p{
    margin:0px;
}
ul,li{
	list-style: none;
}
body{
	background-color: #f0f0f0;
}
.h4, h4 {
    font-size: 16px;
}
.active{
    color:#ecbe79;
}
.top_content,.container{
	position: relative;
	width: 100%;
}
/*公共样式*/
.hidden{
    display:none;
}
.orange{
    background-color:#f3b14d; 
}
/*头部*/
header {
    position: absolute;
    left: 50%;
    top: 0%;
    z-index: 101;
    width: 100%;
    transform: translate(-50%, 0%);
}
header>div>ul>li{
	float: left;
	margin-left: 22px;
	font-size: 15px;
}
header>div>ul{
    width: 1200px;
    display: block;
    margin: 0 auto;
    height: 20px;
    position: relative;
}
header>div>ul>li:first-child a {
    padding-top: 10px;
}
header>div>ul>li:last-child{
    position: absolute;
    right: 0;
    top: 10px;
}
header>div>ul>li>a{
    display: inline-block;
    padding: 16px 35px 10px 10px;
}
.search_block ,ul{
    clear: both;
}
header img.logo {
   width: 97px;
    margin-top: 2px;
}
header>div {
    display: block;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.55);
}
header img.userImg {
    width: 30px!important;
    cursor: pointer;
}
.userCenter{
    position: relative;
}
.centerList {
    position: absolute;
    border-radius: 2px;
   left: -73px;
   background-color: #fff;
       top: 40px;
}
ul.centerList li {
    float: left;
    clear: both;
    margin-top: -5px;
}
ul.centerList li a {
  color: #000;
    padding: 7px 11px 9px 35px;
    display: block;
   width: 106px;
}
ul.centerList>li:first-child {
    padding-top: 10px;
}
ul.centerList>li:last-child {
    padding-bottom: 10px;
}

/*搜索区域*/
.search_block {
    background-image: url(../img/bg.png);
    background-position: 0 -80px;
    width: 100%;
    display: block;
    z-index: 100;
    text-align: center;
    height: 260px;
    position: relative;
    padding-top: 120px;
}
.search_block form p {
    color: #fff;
    font-size: 14px;
    margin-top: 6px;
}
.search_block form {
      width: 350px;
    margin: 0 auto;
}
.search_block form input {
    line-height: 1.8em;
    font-size: 15px;
    width: 350px;
    text-indent: 18px;
    background-color: rgba(255, 255, 255, 0.58);
    border: none;
    border-radius: 2px;
    height: 33px;
    display: inline-block;
    margin: 0 auto;
}
.search_block form button.search_btn {
    background-color: rgba(245, 240, 240, 0.68);
    width: 40px;
    height: 33px;
    border: none;
    margin-top: -33px;
    display: block;
    border-radius: 2px;
    float: right;
    cursor: pointer;
    position: relative;
}
/*摄影日志*/
.picCalendar img {
   width: 185px!important;
    border: 2px solid  #ecbe79;
}
.picCalendar .calendar, .date {
    display: inline-block;
}
.picCalendar  .calendar {
    border: 2px solid  #ecbe79;
    border-top: none;
    padding:20px 0px 8px 6px;
    width: 125px;
}
.picCalendar .date {
    border: 2px solid #ecbe79;
    padding: 0px 9px 8px 8px;
    text-align: center;
    border-top: none;
    border-left: none;
    margin-left: -5px;
}
h2.day {
    font-size: 28px;
}
p.calendar_description {
    font-size: 16px;
    padding-left: 2px;
    font-weight: bold;
}
span.cal_time ,span.cal_weekday{
    font-size: 13px;
    /* margin-top: 2px; */
}
p.lunar_today {
    font-size: 13px;
    color: #999;
}
.picCalendar {
    margin-bottom: 10px;
}
/*个人名片*/
.userSetting {
    background-color: #f0f0f0;
}
.userSetting img.userImg {
    width: 55px!important;
    display: inline-block!important;
}
button.upload_btn {
    padding: 5px 15px 5px 15px;
    display: block;
    margin: auto;
    background-color: #ecbe79;
    border: navajowhite;
    border-radius: 3px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.user_detail li {
   display: inline-block;
    width: 27%!important;
    text-align: center;
    padding: 5px 0px 5px 0px;
    background-color: #f0f0f0!important;
    margin-bottom: 10px!important;
    margin-top: 10px!important;
}
.avatar-view{
    height: initial!important;
    width: initial!important;
}

/*图片瀑布流*/
.pic_waterfall{
	width:1200px;
	display: block;
	margin: 0 auto;
}
.pic_waterfall ul>li {
    float: left;
    width: 190px;
    margin-left: 9px;
    background-color: #fff;
    margin-top: 20px;
    padding-bottom: 10px;
}
.pic_waterfall ul>li img {
    width: 100%;
    display: block;
}
.pic_detail {
    padding: 5px 0px 5px 5px;
}
p.picdesc {
    font-size: 13px;
    display: block;
    width: 90%;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pic_detail li {
    width: 35px!important;
    margin-top: 10px!important;
    margin-left: 2px!important;
    margin-bottom: 17px;
}
.pic_detail span {
    padding-left: 18px;
    padding-left: 22px;
    font-size: 12px;
    color: #666;
}
.pic_detail ul {
    position: relative;
}
li.report a {
    color: #666!important;
    font-size: 13px;
    /* float: right; */
    position: absolute;
    right: 7px;
    top: 12px;
    cursor: pointer;
}
.owner_detail {
   clear: both;
    background-color: rgba(241, 237, 237, 0.57);
}
img.ownerImg {
    width:  37px!important;
    margin-top: -10px;
    display: inline-block!important;

}
.owner_detail>div {
    display: inline-block;
    font-size: 13px;
    margin-left: 4px;
    vertical-align: bottom;
}
p.time {
    display: inline-block;
    font-size: 12px;
    color: #666;
    float: right;
    margin-top: 22px;
    margin-right: 2px;
}

/*上传图片模块*/
.modal .file {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    border: 1px solid #ecbe79;
    padding: 15px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    margin:0 auto;
    margin-top:50px;
}
.modal .file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.modal .file:hover {
    background: #efd3aa;
    border-color:#ecbe79;
    color: #efd3aa;
    text-decoration: none;
}
.modal  .hori_line {
    width: 1px;
    border: 1px solid #ecbe79;
    height: 60px;
    margin: 0 auto;
}
.modal  .stra_line {
    height: 1px;
    border: 1px solid #ecbe79;
    width: 60px;
    margin: 0 auto;
    margin-top: -30px;
}
.modal  form {
    margin-bottom: 45px;
}
.modal-footer button {
    display: block;
    margin:0 auto;
    clear: both;
    width: 150px;
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: auto;
}
.modal-footer>button:nth-child(2) {
    margin-top: 10px;
}
label {
    font-weight: 500;
    vertical-align: top;
}
input#picNameInput {
    outline: none;
    width: 50%;
    margin-left: 15px;
    border:none;
}
textarea{
    outline: none;
    width: 90%;
    margin-left: 15px;
    border:none;
}
.avatar-save{
    color: #fff;
    background-color:#ecbe79;
    border-color: #ecbe79;
    width:50%;
    display: block;
    margin:auto;
}
.avatar-save:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

/*脚部*/
footer{
    width:100%;
    height:30px;
    background-color: #000;
    clear: both;
    padding-top: 20px;
}

/*举报框*/
li.report {
    width: 62px!important;
    padding-left: 33px;
    cursor: pointer;
    /* display: inline-block; */
}
li.report:hover{
	color: #ecbe79;
}
/*CSS3动画*/
header ul>li a:hover{
	color:#ecbe79;
}
.search_block form a:hover{
	background-color: #ecbe79;
	color:#fff;
}
/*字符图标*/

