*{
	margin: 0;
	padding: 0;
}
a ,a:hover{
    text-decoration: none;
    color: #fff;
}
p{
    margin:0px;
}
ul,li{
	list-style: none;
}
body{
	background-color: #f0f0f0;
}
.h4, h4 {
    font-size: 16px;
}
.active{
    color:#ecbe79;
}
/*公共样式*/
.grey{
	color: #ecbe79;
}
.hidden{
    display:none;
}
.orange{
    background-color:#f3b14d; 
}
.container{
	margin:0;
	padding:0;
	width: 100%;
}
.pic_waterfall,.like_waterfall,.coll_waterfall{
	width:1200px;
	display: block;
	margin: 0 auto;
}
.btn{
	color: #fff;
    background-color: #ecbe79;
    border-color: #ecbe79;
}
.btn:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

.pic_waterfall ul>li,.like_waterfall ul>li {
    float: left;
    width: 190px;
    margin-left: 9px;
    background-color: #fff;
    margin-top: 20px;
}
.pic_waterfall ul>li img,.like_waterfall ul>li img,.coll_waterfall ul>li img {
    width: 100%;
    display: block;
}

/*头部*/
header>div>ul>li{
	float: left;
	margin-left: 22px;
	font-size: 15px;
}
header>div>ul{
    width: 1200px;
    display: block;
    margin: 0 auto;
    height: 20px;
    position: relative;
}
header>div>ul>li:first-child a {
    padding-top: 10px;
}
header>div>ul>li:last-child{
    position: absolute;
    right: 0;
    top: 10px;
}
header>div>ul>li>a{
    display: inline-block;
    padding: 16px 35px 10px 10px;
}
.search_block ,ul{
    clear: both;
}
header img.logo {
   width: 97px;
    margin-top: 2px;
}
header>div {
    display: block;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.87);
}
header img.userImg {
    width: 30px!important;
    cursor: pointer;
}
.userCenter{
    position: relative;
}
.centerList {
    position: absolute;
    border-radius: 2px;
   left: -73px;
   background-color: #fff;
   top: 33px;
    z-index: 100;
}
ul.centerList li {
    float: left;
    clear: both;
    margin-top: -5px;
}
ul.centerList li a {
  color: #000;
    padding: 7px 11px 9px 35px;
    display: block;
   width: 106px;
}
ul.centerList>li:first-child {
    padding-top: 10px;
}
ul.centerList>li:last-child {
    padding-bottom: 10px;
}

/*个人信息*/
.detail_block {
    background-color: #fff;
    width: 1200px;
    display: block;
    margin: 0 auto;
    padding: 10px 40px 0px 40px;
    position: relative;
    margin-top: 75px;
    height: 155px;
}
.detail_block ul>li {
    float: left;
}
ul.imgBelow li {
    background-color: #f7f3f3;
    padding: 5px 18px 5px 18px;
    margin-left: 7px;
    text-align: center;
}
ul.imgBelow span {
    font-weight: 600;
}
ul.imgBelow>li:first-child {
    margin-left: 0px;
}
h4.username {
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 210px;
    font-weight: 700;
    color: #666;
}
.detail_block img {
    width: 138px;
    margin-top:-58px;
    border: 4px solid #fff;
}
.detail_block button {
    background-color: #f7f3f3;
    border: 1px solid #f0f0f0;
    color: #666;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    top: 25px;
}
ul.user_detail_block li {
    padding: 10px 10px 10px 10px;
    background-color: #f0f0f0;

}
ul.user_detail_list li {
    float: left;
    padding: 13px 30px 13px 30px;
    margin-bottom: 20px;
    border-right: 1px solid #f0f0f0;
    cursor: pointer;
}
.user_detail_block {
    display: block;
    width: 1200px;
    margin: 0 auto;
    background-color:  rgba(218, 218, 218, 0.51);
    height:  42px;
    margin-top: -6px;
}
ul.user_detail_list span {
    font-weight: 600;
    padding: 2px 4px 2px 4px;
}

/*图片瀑布流*/

.pic_detail {
    padding: 5px 0px 5px 5px;
}
p.picdesc {
    font-size: 13px;
    display: block;
    width: 90%;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pic_detail li {
    width: 35px!important;
    margin-top: 10px!important;
    margin-left: 2px!important;
    margin-bottom: 17px;
}
.pic_detail span {
    padding-left: 18px;
    padding-left: 22px;
    font-size: 12px;
    color: #666;
}
.pic_detail ul {
    position: relative;
}
li.report a {
    color: #666!important;
    font-size: 13px;
    /* float: right; */
    position: absolute;
    right: 7px;
    top: 12px;
    cursor: pointer;
}
.owner_detail {
   clear: both;
    background-color: rgba(241, 237, 237, 0.57);
}
img.ownerImg {
    width:  37px!important;
    margin-top: -10px;
    display: inline-block!important;

}
.owner_detail>div {
    display: inline-block;
    font-size: 13px;
    margin-left: 4px;
    vertical-align: bottom;
}
p.time {
    display: inline-block;
    font-size: 12px;
    color: #666;
    float: right;
    margin-top: -10px;
    margin-right: 6px;
}
.like_waterfall .time {
    margin-top: 20px;
}

/*上传图片模块*/
.modal .file {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    border: 1px solid #ecbe79;
    padding: 15px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    margin:0 auto;
    margin-top:50px;
}
.modal .file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.modal  .hori_line {
    width: 1px;
    border: 1px solid #ecbe79;
    height: 60px;
    margin: 0 auto;
}
.modal  .stra_line {
    height: 1px;
    border: 1px solid #ecbe79;
    width: 60px;
    margin: 0 auto;
    margin-top: -30px;
}
.modal  form {
    margin-bottom: 45px;
}
.modal-footer button {
    display: block;
    margin:0 auto;
    clear: both;
    width: 150px;
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: auto;
}
.modal-footer>button:nth-child(2) {
    margin-top: 10px;
}
label {
    font-weight: 500;
    vertical-align: top;
}
input#picNameInput {
    outline: none;
    width: 50%;
    margin-left: 15px;
    border:none;
}
textarea{
    outline: none;
    width: 80%;
    margin-left: 15px;
    border:none;
}
.avatar-save{
    color: #fff;
    background-color:#ecbe79;
    border-color: #ecbe79;
    width:50%;
    display: block;
    margin:auto;
}
.avatar-save:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}
.avatar-view {
    display: block;
    margin-top:0;
    height: 250px;
    width: 190px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    background-color: #f0f0f0;
    cursor: pointer;
    overflow: hidden;
}
.button_blo{
	position: relative;
}
.hori_line {
	width: 1px;
    border: 1px solid #ecbe79;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    left: 91px;
    top: 86px;
}
.stra_line {
	height: 1px;
    border: 1px solid #ecbe79;
    width: 60px;
    position: absolute;
    left: 63px;
    top: 114px;
}

/*创建收藏库模块*/
.creat_view{
	display: block;
    margin-top: 0;
    height: 311px;
    width: 225px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    background-color: #f0f0f0;
    cursor: pointer;
    overflow: hidden;
}
.coll_waterfall .hori_line{
	top: 127px!important;
    left: 110px!important;
}
.coll_waterfall .stra_line{
	left: 80px!important;
    top: 154px!important;
}
.coll_waterfall ul>li{
	 float: left;
    width: 227px;
    margin-left: 10px;
    background-color: #fff;
    margin-top: 20px;
    position: relative;
}
.coll_waterfall ul>li p {
    display: block;
    width: 36px;
    position: absolute;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.34);
    color: #fff;
    top: 175px;
    right: 13px;
}
h4.coll_name {
    font-weight: 700;
    padding-left: 12px;
    position: absolute;
    top: 5px;
    color: #fff;
    z-index: 104;
}
button.edit_coll {
    background-color: #f0f0f0;
    border: none;
    padding: 2px 10px 1px 10px;
    display: block;
    margin: auto;
    width: 43%;
    margin-bottom: 10px;
}
.coll_box{
	padding:5px;
}
.img_bottom>img {
    display: inline-block!important;
    width: 48%!important;
}
.img_top {
    width: 216px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 3px;
}
.img_bottom>div {
    width: 105px;
    display: inline-block;
    height: 60px;
    overflow: hidden;
}
/*脚部*/
footer{
    width:100%;
    height:30px;
    background-color: #000;
    clear: both;
    padding-top: 20px;
    margin-top: 20px;
}
/*CSS3动画*/
header ul>li a:hover{
	color:#ecbe79;
}