*{
	margin: 0;
	padding: 0;
}
a ,a:hover{
    text-decoration: none;
    color: #fff;
}
p{
    margin:0px;
}
ul,li{
	list-style: none;
}
body{
	background-color: #f0f0f0;
}
h4 {
    font-size: 23px;
    padding-top: 5px;
    display: block;
    text-align: center;
}
.active{
    color:#ecbe79;
}
.container{
    padding: 0;
    margin:0;
}
.red{
    color:red;
}

/*头部*/
header>div>ul>li{
	float: left;
	margin-left: 22px;
	font-size: 15px;
}
header>div>ul{
    width: 1200px;
    display: block;
    margin: 0 auto;
    height: 20px;
    position: relative;
}
header>div>ul>li:first-child a {
    padding-top: 10px;
}
header>div>ul>li:last-child{
    position: absolute;
    right: 0;
    top: 10px;
}
header>div>ul>li>a{
    display: inline-block;
    padding: 16px 35px 10px 10px;
}
.search_block ,ul{
    clear: both;
}
header img.logo {
   width: 97px;
    margin-top: 2px;
}
header>div {
    display: block;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.87);
}
header img.userImg {
    width: 30px!important;
    cursor: pointer;
}
.userCenter{
    position: relative;
}
.centerList {
    position: absolute;
    border-radius: 2px;
   left: -73px;
   background-color: #fff;
   top: 33px;
    z-index: 100;
}
ul.centerList li {
    float: left;
    clear: both;
    margin-top: -5px;
}
ul.centerList li a {
  color: #000;
    padding: 7px 11px 9px 35px;
    display: block;
   width: 106px;
}
ul.centerList>li:first-child {
    padding-top: 10px;
}
ul.centerList>li:last-child {
    padding-bottom: 10px;
}

/*账号设置部分*/
.container{
    width:970px;
    display: block;
    margin:0 auto;
    background-color: #fff;
    margin-top: 30px;
}
label {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 70px 10px 20px;
}
input{
    border: none;
    outline: none;
    text-indent: 20px;
}
.form_group {
    width: 66%;
    margin: auto;
}
hr {
    margin: 10px;
}
div#crop-avatar {
    display: inline-block;
}
.avatar-view {
    display: inline-block;
    margin: 0;
    height: 110px;
    width: 110px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    cursor: pointer;
    overflow: hidden;
}
div#crop-avatar {
    display: inline-block;
    margin-left: 165px;
}
input[disabled] {
    padding: 5px;
    width: 49%;
    margin-right: 12px;
    text-indent: 20px;
}
span.set_pwd {
    background-color: #fff;
    border: none;
    outline: none;
    color: #3fa6f1;
    font-size: 15px;
    cursor:pointer;
}
input[readonly] {
    background-color: #E7E3E3;
}
.sub_btn {
    background-color:#63a8f1;
    border: none;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
        margin-bottom: 20px;
}
.form_group.pwd_block div>div {
    margin-left: 127px;
}
.form_group.pwd_block div>div:nth-child(3) label {
    padding-right: 55px;
}
p.red.oldFlag,.newFlag,.againFlag {
    display: inline-block;
}



/*脚部*/
footer{
    width:100%;
    height:30px;
    background-color: #000;
    clear: both;
    padding-top: 20px;
    margin-top: 20px;
}
/*CSS3动画*/
header ul>li a:hover{
    color:#ecbe79;
}